.about{
    color: rgb(51,58,65);
    text-align: center;
    padding-top: 3rem;
    background-color: rgb(252, 252, 252);
    padding-bottom: 10rem;

}

.about p{

    padding-top: 1rem;
    text-align: justify;
    padding-right: 10rem;
    padding-left: 10rem;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    background-color: rgb(212, 212, 212);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

.img2{
    height: 247px;
    width: 490px;
    background-color: rgb(212, 212, 212);
    border-radius: 1rem;
    padding: 2rem;
}

